<section class="mx-auto merienda flex flex-col justify-center items-center text-[0.9375rem] w-full">
  <div class="merienda flex text-3.75 font-normal" id="OurLocation">
    <div class="pt-18.75 pb-5 max-w-full w-full px-3.75">
      <h2 class="text-center text-[2rem]">~ {{translate("ourLocation")}} ~</h2>
    </div>
  </div>

  <div
    class="flex justify-center w-full flex-col md:flex-row lg:max-w-285 text-left font-normal items-center"
  >
    <div class="basis-full h-full md:basis-[75%] px-2">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3525.7437493930997!2d34.32299007506286!3d27.909835976067043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145339f9c71d2d03%3A0xa2e41e3bcadbd629!2sNaama%20bay%20Market!5e0!3m2!1sen!2seg!4v1777487048314!5m2!1sen!2seg"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-80"
      ></iframe>
    </div>
    <div class="w-full px-3.75 md:basis-[25%] md:shrink-0 md:grow-0 text-center md:text-left mt-5 md:mt-0">
      <h3 class="text-[1.75rem]">{{translate('address')}}:</h3>
      <p>{{translate('addressDetail')}}</p>
      <h3 class="text-[1.75rem]">{{translate('email')}}:</h3>
      <p>mail@example.com</p>
    </div>
  </div>
</section>
