<section
  class="retaurant mx-auto merienda flex justify-center flex-col items-center text-[0.9375rem]"
>
  <div class="px-3.75 pt-18.75 pb-5" id="Restaurant">
    <div>
      <h2 class="text-center text-[32px]">~ Restaurant ~</h2>
    </div>
  </div>

  <div class="flex justify-center flex-col md:flex-row lg:max-w-285 bg-[#f8f9fa] items-center">
    <div class="px-3.75">
      <h3 class="text-[1.75rem]">Location</h3>
      <p class="mb-4">
        Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving
        delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse
        through our website and check out our menu. We hope you'll soon join us for a superb Italian
        culinary experience.
      </p>
      <h5 class="text-[1.25rem]">A Unique Experience</h5>
      <p class="mb-4">
        Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving
        delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse
        through our website and check out our menu. We hope you'll soon join us for a superb Italian
        culinary experience.
      </p>
    </div>
    <div
      class="px-3.75 md:max-w-[50%]"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-easing="ease"
    >
      <img class="w-full" src="it/images/location.jpg" alt="ristorante" />
    </div>
  </div>

  <div class="bg-[#f8f9fa] w-full lg:max-w-285"><br /></div>

  <div class="flex justify-center flex-col-reverse md:flex-row lg:max-w-285 bg-[#f8f9fa]">
    <div
      class="px-3.75 md:max-w-[50%]"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-easing="ease"
    >
      <img class="w-full" src="it/images/cucina.jpg" alt="cucina" />
    </div>
    <div class="px-3.75">
      <h3 class="text-[1.75rem]">Cuisine</h3>
      <p class="mb-4">
        Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving
        delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse
        through our website and check out our menu. We hope you'll soon join us for a superb Italian
        culinary experience.
      </p>
      <h5 class="text-[1.25rem]">A Unique Experience</h5>
      <p class="mb-4">
        Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving
        delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse
        through our website and check out our menu. We hope you'll soon join us for a superb Italian
        culinary experience.
      </p>
    </div>
  </div>
</section>
