<section id="menu" class="merienda flex flex-col items-center text-[0.9375] font-normal">
  <div class="px-3.75 pt-18.75 pb-5">
    <h2 class="text-center text-[2rem]">~ Menu ~</h2>
  </div>

  <div class="bg-[#f8f9fa] flex justify-center flex-col md:flex-row lg:max-w-285">
    <div
      class="md:max-w-[33.33%] px-3.75 relative flex flex-col wrap-break-word bg-white"
      data-aos="slide-up"
      data-aos-duration="1200"
      data-aos-easing="ease"
    >
      <div class="bg-clip-border border border-solid border-[rgba(0,0,0,0.125)] rounded">
        <img
          class="w-full h-50 rounded-tl-[calc(.25rem-1px)] rounded-tr-[calc(.25rem-1px)]"
          src="it/images/menu-carne.jpg"
          alt="meat menu"
        />
        <div class="transition duration-1000 ease p-5 hover:scale-[1.05]">
          <h5 class="mb-3 text-[1.25rem]">~ Meat Menu ~</h5>
          <ul class="flex flex-col list-none">
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Bocconcini di carne in nido di sfoglia
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Bruschette con maiale al curry
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Uova al prosciutto
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Vitello tonnato
            </li>
            <li class="relative block py-3 px-5 bg-white">Fesa di tacchino marinata con olive</li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="md:max-w-[33.33] px-3.75 relative flex flex-col wrap-break-word bg-white"
      data-aos="slide-up"
      data-aos-duration="1200"
      data-aos-easing="ease"
    >
      <div class="bg-clip-border border border-solid border-[rgba(0,0,0,0.125)] rounded">
        <img
          class="w-full h-50 rounded-tl-[calc(.25rem-1px)] rounded-tr-[calc(.25rem-1px)]"
          src="it/images/menu-pesce.jpg"
          alt="meat menu"
        />
        <div class="transition duration-1000 ease p-5 hover:scale-[1.05]">
          <h5 class="mb-3 text-[1.25rem]">~ Fish Menu ~</h5>
          <ul class="flex flex-col list-none">
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Carpaccio di polpo
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Cozze al verde
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Cocktail di gamberi
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Risotto alla crema di scampi
            </li>
            <li class="relative block py-3 px-5 bg-white">Ravioli di pesce con crema di scampi</li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="md:max-w-[33.33] px-3.75 relative flex flex-col wrap-break-word bg-white"
      data-aos="slide-up"
      data-aos-duration="1200"
      data-aos-easing="ease"
    >
      <div class="bg-clip-border border border-solid border-[rgba(0,0,0,0.125)] rounded">
        <img
          class="w-full h-50 rounded-tl-[calc(.25rem-1px)] rounded-tr-[calc(.25rem-1px)]"
          src="it/images/menu-vegetarian.jpg"
          alt="meat menu"
        />
        <div class="transition duration-1000 ease p-5 hover:scale-[1.05]">
          <h5 class="mb-3 text-[1.25rem]">~ Vegetarian Menu ~</h5>
          <ul class="flex flex-col list-none">
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Parmigiana di melanzane
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Strudel con ricotta e spinaci
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Polpette di spinaci e ricotta
            </li>
            <li
              class="relative block py-3 px-5 border border-solid border-[rgba(0,0,0,.125)] border-l-0 border-r-0 bg-white"
            >
              Frittata di patate al forno
            </li>
            <li class="relative block py-3 px-5 bg-white">
              Spaghetti con le polpettine vegetariane
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
